html, body {
    margin: 0px;
    height: 100%;
}

.row {
    height: 16vh;
}

.col-3 {
    border: 1px solid black;
    padding: 0px;
}

.btn-primary {
    border-radius: 0;
}

.calculator-output {
    height: 20vh;
    background-color: grey;
    font-size: 80px;
    color: white;
}

.calc-grid {
    height: 80vh;
}
